@using WebDevProject.Models;
@model SignUpViewModel;

@{
    ViewData["Title"] = "Search";
}

@section Styles {
    <link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
}


<h1 class="post_list">Post list</h1>
    
<div class="container">
    <div class="post">
        <div class="status"></div>
        <h2 class="post_title">(post_title)</h2>
        <p class="participants"># participants</p>
    </div>
    <div class="post_">
        <div class="status"></div>
        <h2 class="post_title">(post_title)</h2>
        <p class="participants"># participants</p>
    </div>
    <div class="post">
        <div class="status"></div>
        <h2 class="post_title">(post_title)</h2>
        <p class="participants"># participants</p>
    </div>
    <div class="post_">
        <div class="status"></div>
        <h2 class="post_title">(post_title)</h2>
        <p class="participants"># participants</p>
    </div>
    <div class="post">
        <div class="status"></div>
        <h2 class="post_title">(post_title)</h2>
        <p class="participants"># participants</p>
    </div>
    <div class="post_">
        <div class="status"></div>
        <h2 class="post_title">(post_title)</h2>
        <p class="participants"># participants</p>
    </div>
    <div class="post">
        <div class="status"></div>
        <h2 class="post_title">(post_title)</h2>
        <p class="participants"># participants</p>
    </div>
    <div class="post_">
        <div class="status"></div>
        <h2 class="post_title">(post_title)</h2>
        <p class="participants"># participants</p>
    </div>
</div>