@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="login-container">
    <h1 class="title">TinyTender</h1>
    <p>
        Request Anything
        Any Constraints.
    </p>
    <a class="large-button" asp-controller="Board" asp-action="Search">Explore Boards</a>
    
</div>
