<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu,menu_open">
    <title>Document</title>
</head>
<body>
    <!-- Default Nav (Not Logged in) -->
    <nav class="navbar">
        <div class="navbar-container">
            <a href="#" class="navbar-logo"><img src="">TinyTender</a>
            <ul class="navbar-menu">
                <li><a href="#">Board</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Sign-in</a></li>
                <li class="signup-btn"><a href="#">Sign-up</a></li>
            </ul>
            <span class="navbar-toggle material-symbols-outlined" id="mobile-menu" role="button" tabindex="0" aria-expanded="false" data-open-icon="menu_open" data-closed-icon="menu">menu</span>
        </div>
    </nav>

    <!-- Logged in Nav (logic will be handled in asp.net later)-->
    <!-- <nav class="navbar">
        <div class="navbar-container">
            <a href="#" class="navbar-logo"><img src="">TinyTender</a>
            <ul class="navbar-menu">
                <li><a href="#">Board</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Username<img id="profile-pic" src="default_prof.png"></a></li>
            </ul>
            <span class="navbar-toggle material-symbols-outlined" id="mobile-menu" role="button" tabindex="0" aria-expanded="false" data-open-icon="menu_open" data-closed-icon="menu">menu</span>
        </divz
    </nav> -->


    <h1 class="post_list">Post list</h1>
    
    <div class="container">
        <div class="post">
            <div class="status"></div>
            <h2 class="post_title">(post_title)</h2>
            <p class="participants"># participants</p>
        </div>
        <div class="post_">
            <div class="status"></div>
            <h2 class="post_title">(post_title)</h2>
            <p class="participants"># participants</p>
        </div>
        <div class="post">
            <div class="status"></div>
            <h2 class="post_title">(post_title)</h2>
            <p class="participants"># participants</p>
        </div>
        <div class="post_">
            <div class="status"></div>
            <h2 class="post_title">(post_title)</h2>
            <p class="participants"># participants</p>
        </div>
        <div class="post">
            <div class="status"></div>
            <h2 class="post_title">(post_title)</h2>
            <p class="participants"># participants</p>
        </div>
        <div class="post_">
            <div class="status"></div>
            <h2 class="post_title">(post_title)</h2>
            <p class="participants"># participants</p>
        </div>
        <div class="post">
            <div class="status"></div>
            <h2 class="post_title">(post_title)</h2>
            <p class="participants"># participants</p>
        </div>
        <div class="post_">
            <div class="status"></div>
            <h2 class="post_title">(post_title)</h2>
            <p class="participants"># participants</p>
        </div>
    </div>
    

    <script src="script.js"></script>
</body>
</html>